*{margin: 0;}

body{
    min-width: 550px;
}

figcaption{
    color: white;
}

.featured figcaption{
    color:  #888888;
}

.gridContainer{
    background: #ca272a;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /*3 kolonner*/
}

header{
    background-color:#e8e0e1;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /*Inndelig av menyen først logo, deretter meny lenker, sosiale medier*/
    padding-top: 10px;
    padding-left: 20px;
}

main{
   grid-column: span 3; 
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; /*Inndelig av menyen først logo, deretter meny lenker, sosiale medier*/
    
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    grid-column: span 3;
}


.gridContainer > div{
    /*background: #ca272a;*/
    
    text-align: center;
    padding: 20px;
    border: 1px solid #777;
    grid-column: span 3;
}

/*Bilde styling*/
article img{
 width: 90%;
}

figcaption{
    text-align: left;
    margin-top: -10px;
    margin-left: 20px;
    font-size: small;
}

.ramme{ 
    width: 90%;
    border: 4px solid white;
    border-radius: 8px;
    margin: 10px;
}



article p, article h3{
    margin: 20px 10px;
}
article{
    color:white;
}

article.featured{
    background-color:#e8e0e1;
    color: black;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    align-items: center;
    border-bottom:1px solid white;
    padding-bottom: 8px;
}



/*reponsive hvis skjermstørrelsen er mindre enn 980px*/
@media screen and (max-width: 980px){
    article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;
        border-bottom:1px solid white;
        padding-bottom: 8px;
    }
}

/*reponsive hvis skjermstørrelsen er mindre enn 980px*/
@media screen and (max-width: 760px){
    article, article.featured{
        display: block;
        padding: 0 20px;
    }

    article.featured{
        padding: 20px;
    }

  
}

